@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.Restify_logo {
    font-size: 2rem;
    font-family: "Exo 2", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    left: 89px;
    z-index: 1;
}